html, body {
    font-family: 'Roboto', Monsterrat, Poppins;
}

img {
    padding: 5px;
    border: 1px solid #ccc;
}

.no-border {
    border: none;
    height: 70px;
}

.google-size {
    width: 185px;
    height: 68.5px;
}

.bold {
    font-weight: 600;
}

.tabs ul .center {
    color: greenyellow;
    margin-left: auto;
    margin-right: 140px;
  }

.tabs ul .right {
    margin-left: auto;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.particle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid rgba(192, 192, 192, 0.8);
    animation: float 10s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100vh) translateX(20vw);
        opacity: 0;
    }
}

.floating-square {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.5;
    z-index: 10;
}